.quadro-mensagem{border: 0.2em solid #00AEEF; border-radius: 1em; margin-top: 1em;}
.index-mensagem{text-align: justify; font-family: 'Montserrat Alternates', sans-serif;}
.icone-video-azul{
    background-image: url(../img/svg_sinal.svg);
    background-repeat: no-repeat;
    display: block;
    margin-top: 1em;
    animation: zoom 1s infinite ;
}
@keyframes zoom {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.icon_svg{
    width: 7%;
}
.botao-saiba-mais{background-color: #00AEEF; color: white; width: 8em; height: 3em; border-radius: 5em !important; margin-bottom: 1em;}
.imagem-index{width: 30em; height: auto; margin-right: 1em;}

.aulas-destaque-frase{
    color: #00AEEF;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    padding-bottom: 1.5em;
}

.section-aulas-destaque{
    background-color: #D4EFFC;
    padding-top: 0.1em;
}

.aula-imagem-index{
    width: 20em;
    height: 13em;
    object-fit: cover;
}

a{text-decoration: none !important;}

.aula-destaque-titulo{
    color: #00AEEF;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: left;
}

h5 {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif !important;
    font-weight: bold !important;
    font-style: italic;
    color: #00AEEF !important;
    margin-bottom: 1em !important; 
    margin-top: 1em !important; 
}

.aula-destaque-user{
    color: #00AEEF !important;
    font-weight: bold;
}

.content{
    font-size: 0.9em;
    margin-bottom: 2em;
}

.userDateView{font-size: 0.8em;}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#00AEEF;
    height: 1px;
  }


