.botaoAdd{
    float: right !important;
    color: #00AEEF;
    margin-bottom: 0.5em;
}
.avatar{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
}

.data{font-family: 'Montserrat Alternates', sans-serif !important;}

.table{font-family: 'Montserrat Alternates', sans-serif !important;}

.list-aula-img{
    width: 10em;
    height: 6em;
    object-fit: cover;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #ebf5fa;}

.botao-del-edit{
    color: white;
    width: 3em;
    height: 3em;
    border-radius: 0.5em !important;
}

.delet {background-color: #ff4e4e;}
.edit{background-color: #eeae00;}