.icone-video-mensagem{
    background-image: url(../img/icone-video-azul.png);
    background-repeat: no-repeat;
    display: block;}

label{text-align: justify; font-family: 'Montserrat Alternates', sans-serif;}

.form-select{
    font-family: 'Montserrat Alternates', sans-serif;
    border: 1px solid #ced4da;
    width: 10em; height: 2em;
}

.input-group-btn{background-color: #00AEEF; color: white;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.botao-criar-aula{
    background-color: #00AEEF;
    color: white;
    width: 7em;
    height: 3em;
    border-radius: 5em !important;
}

.botao-edita-aula{
    background-color: #00AEEF;
    color: white;
    width: 9em;
    height: 3em;
    border-radius: 5em !important;
}

.botao-del-edit{
    color: white;
    width: 2.7em;
    height: 2.7em;
    border-radius: 0.6em !important;
    font-size: 1.5em !important;
}

.cancel {background-color: #ff4e4e;}
.save{background-color: #00AEEF;}

#video-demo-container {
	width: 400px;
}

#main-video {
	display: none;
	max-width: 85%;
}

#thumbnail-container {
	display: none;
}

#get-thumbnail {
	display: none;
}

#video-canvas {
	display: none;
}

#upload-button {
    color: #00AEEF;
    background:  transparent;
}

#file-to-upload {
	display: none;
}

