.navbar-brand img{width: 15em; height: auto;}
.nav-link{font-family: 'Montserrat Alternates', sans-serif; font-size: 1.5em;}
.background{background-color: #00AEEF; background-image: url("../img/header-background.jpg"); background-repeat: no-repeat;}
.navbar-dark .navbar-toggler{border-color: white !important; background-color: #c8eefd !important; margin-top: 1em;}

.borda{width: 6.5em; height: 5rem; text-align: center;}
.borda div{
    background-repeat: no-repeat;
    display: block;
    width: 57%; height: 2.8rem;
    margin: 0em 0em 0em 0.9em;}

    .borda .icone-professor{
        margin: 0em 0em 0em 2em;}

.icone{margin-right: 3em;}
.icone-inicio{ background-image: url(../img/icone-inicio.png);}
.icone-sobre{ background-image: url(../img/icone-sobre.png);}
.icone-aluno{ background-image: url(../img/icone-aluno.png);}
.icone-login{ background-image: url(../img/icone-login.png);}

.icone-professor{ background-image: url(../img/icone-professor.png);}

.nav-link{color: white;}

.header-frase{
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    padding-bottom: 1.5em;}

.icone-video{
    background-image: url(../img/icone-video-branco.png);
    background-repeat: no-repeat;
    display: block;
}

@media (min-width: 1200px){
    .col-2{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
    .col-xl-1{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
    .col-lg-1{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
}
@media (min-width: 768px){
    .col-md-1{max-width: 100% !important; width: 2em !important; height: 3em;}
}
.col-sm-2 {max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
.col-xs-1{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}



